name: CI Workflow

on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
  pull_request:
    branches:
      - main

jobs:
  integration:
    name: Continuous-Integration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Lint Code
        run: echo "Linting repository"

      - name: Run unit tests
        run: echo "Running unit tests"

  build-and-push-ecr-image:
    name: Continous Delivery
    needs: integration
    runs-on: ubuntu-latest
    steps:
        - name: Checkout Code
          uses: actions/checkout@v4
        - name: Install Utilities
          run: |
             sudo apt-get update
             sudo apt-get install -y jq unzip
        - name: Configuring AWS creds
          uses: aws-actions/configure-aws-credentials@v1
          with: 
             aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
             aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
             aws-region: ${{secrets.AWS_REGION}}
        - name: Login into Amazon ECR
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v1

        - name: Build,tag and push image to ecr
          id: build-image
          env: 
            ECR_REGISTRY: ${{steps.login-ecr.outputs.registry}}
            ECR_REPOSITORY: ${{secrets.ECR_REPOSITORY_NAME}}
          run: |
            docker build -t $ECR_REGISTRY/$ECR_REPOSITORY_NAME:$IMAGE_TAG .
            docker push $ECR_REGISTRY/$ECR_REPOSITORY_NAME:$IMAGE_TAG
            echo ":: set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY_NAME:$IMAGE_TAG"
          

        


    

     


      


    
